# Хост и порт FileBrowser (внутри Docker-сети)
ADAPTER_FILEBROWSER_HOST=filebrowser
ADAPTER_FILEBROWSER_PORT=80
ADAPTER_FILEBROWSER_BASE_ROUTE=/sshfs
# URL discovery API gateway
ADAPTER_DISCOVERY_URL=http://saltbox-gateway:8000/api/discovery

# # Метаданные сервиса
# ADAPTER_SERVICE_NAME=filebrowser
# ADAPTER_SERVICE_TITLE=FileBrowser
# ADAPTER_SERVICE_DESCRIPTION=Third-party file browser service
# ADAPTER_SERVICE_VENDOR=FileBrowser

# # Внешний адрес
# ADAPTER_SERVER_OUTER_SOCKET=localhost
# ADAPTER_SERVER_SCHEME=http

# # Путь к swagger.yaml
# ADAPTER_SWAGGER_PATH=/app/swagger.yaml

# # Фиксированный ID инстанса (по умолчанию генерируется случайный при каждом запуске)
# ADAPTER_INSTANCE_ID=filebrowser-01
